@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&display=swap');


/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --color-orange: linear-gradient(45deg, #fa2424, #ed7e1e);
  --color-white: #ffffff;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0/10%);
}

.orange-color{
  position: relative; 
  background: -webkit-linear-gradient(0deg,#fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center-align{
  justify-content: center;
  margin: auto;
}

.underline{
  position: relative; 
  background: -webkit-linear-gradient(0deg,#fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid rgb(245, 69, 0);
}



a{
  text-decoration: none !important;
}

section:not(.contact-us, .footer-container) {
  padding: 1rem 6%;
}

img {
  width: 100%;
}



/* Header */
header {
  background: var(--color-white);
  z-index: 1 !important;
  box-shadow: rgb(49, 49, 49);
}

header .nav-item {
  padding: 0.5rem;
}

header .nav-item a {
  padding-top: 0.7rem;
  color: rgb(6, 0, 56) !important;
  font-size: 1.1rem;
  font-weight: 600;
}

header .navbar-brand{
  padding-left:4rem;
}

header .navbar-nav{
  padding-right:4rem;
}

header img {
  width: 120px;
}


header .nav-item a:hover {
  color: #ec4f01 !important;
}

.btn-1 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: 3s;
}

.btn-1:hover {
  background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}

.btn-2:hover {
  background: #03003f;
  -webkit-text-fill-color: #ffffff;
}

.btn-2 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  background: transparent;
  -webkit-text-fill-color: #03003f;
  border-color: #03003f;
  border-radius: 5px;
}

/* Carousel section */

.about-slide{
  padding: 0;
  margin: 0 0 0;
  color: #fa2424;
}

.imginfo{
  padding-top: 0;
  position: relative;
  left: 50%;
  bottom: 5rem;
}

.infoimg{
  padding-top: 0;
}

.responsive{
  display: none;
}

.heading2{
  font-family: 'Noto Sans Zanabazar Square', sans-serif;
}

.heading2_underline{
  position: relative; 
  background: -webkit-linear-gradient(0deg,#fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading2_underline::before{
  content:"";
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 2px;
  background: rgb(245, 69, 0);
}

.carousel2{
  margin-top: 5rem;
}


.special {
  background: linear-gradient(45deg, #fa2424, #fb8721);
  /* background: -webkit-linear-gradient(#eee, #333); */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  /* position: absolute; */
}

.home-btn {
  display: flex;
  flex-direction: row;
}

.home-btn .btn-1 {
  margin-right: 1rem;
}

.home-section .row .col-md-6:not(.infoimg) {
  padding: 4.5rem 1rem 1rem;
}

.home-section .row h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #040052;
}

.home-section .row p:not(.about-slide) {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem 0rem;
  color: #5e5e5e;
  margin-right: 4rem;
 
}

.home-section .row img {
  width: 100%;
}


@media (max-width:768px) {
  .imginfo{
    position: inherit;
    left: 0;
  }
}

@media (max-width: 600px){
  .home-section .row h2 {
    font-size: 3.3rem;
  }
  .home-section .row h2 br{
    display: none;
  }
  .responsive{
    display: block;
  }
  .laptop{
    display: none;
  }
  .home-section .row p:not(.about-slide) {
    margin-right: 0;
    text-align: justify;
  }
}

@media (max-width: 474px){
  .home-section .row h2 {
    font-size: 2.8rem;
  }
  .home-section .row p:not(.about-slide){
    font-size: 15px;
  }
  .btn-1, .btn-2{
    font-size: 14px;
    padding: 8px 15px;
  }
}

@media (max-width: 390px){
  .home-section .row h2 {
    font-size: 28px;
  }
  .heading2_underline::before{
    content:"";
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 2px;
    background: rgb(245, 69, 0);
  }
}


/* Boxes(Descriptions) */
.boxes{
  padding: 4rem 0% 6rem;
  overflow-x: hidden;
}

.icons i{
  border-radius: 50%;
  padding: 20px 20px;
  font-size: 48px;
  /* width: 80px; */
  height: auto;
  color: rgb(255, 255, 255);
  background-color: #fb5021;
}
.row_first{
  padding: 60px 80px;
  border: 1px solid rgba(100, 100, 100, 0.362);
  width: 50%;
  color: #03003f;
  position: relative;
}
.div_text h2{
  padding: 15px;
  font-size: 1.7rem;
  font-weight: 700;
}

.row_first p{
  font-size: 1rem;
  font-weight: 500;
}

.row_first:hover{
  background-image: url("../images/wave.png");
  background-position: center;
  background-size: cover;
  color:#f9eded!important;
}

.row-first:hover p{
  color: #fff!important;
}

@media (max-width: 500px){
  .div_text h2{
    font-size: 23px;
  }
  .row_first p{
    font-size: 14px;
  }
  .row_first p{
    padding-left: 18px;
    padding-right: 18px;
  }
}

/* Courses */

.courses{
  margin-bottom: 5rem;
}

.courses h1{
  text-align: center;
  font-weight: 700;
}

.courses p.sub-heading{
  width: 70%;
  margin: 2rem auto 4rem;
  text-align: center;
  font-weight: 500;
  color: #757575;
}

.card .card-body .card-subtitle{
  color: #5e5e5e;
  margin-top: -1.5rem;
}

.card .card-body .card-title{
  padding: 1rem 0rem 0.8rem;
  font-weight: 700;
  color: #03003f;
}

.card .card-body p{
  color: #5e5e5e;
}

.card ,.card-body a{
  font-weight: 600;
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}

.card-action {
  position: relative;
  float: right;
  margin-top: -30px;
  margin-right: 25px;
  z-index: 2;
  color: #E26D5C;
  background: #fff;
  border-radius: 10%;
  padding: 20px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #E26D5C;
  /* -webkit-animation: pulse 1.5s infinite; */
}


.fa-check{
  font-weight: 700 !important;
  color: #E26D5C;
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
  .card-deck {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .card {
    flex: 0 0 auto;
    width: 300px;
  }
}

@media (max-width: 576px){
  .courses{
    padding-left: 15px;
    padding-right: 15px;
  }

  .courses h1{
    font-size: 28px;
    position: relative;
    top: 20px;
  }
  .courses p.sub-heading{
    font-size: 16px;
    text-align: justify;
    width: 100%;
  }
}

/* Enhance skill section */
.section-3 .horizon h2{
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: #1E1A52;
}

.section-3 .horizon .horizon-sub-heading{
  color: #5e5e5e;
  font-weight: 500;
  font-size: 1.1rem;
  justify-content: center;
  padding-right: 2rem;
  line-height: 1.8;
}

.section-3 .horizon .check{
  padding-bottom: 1rem;
  border-bottom: 1.5px solid #949494;
}

.section-3 .horizon .check p,
.section-3 .horizon .col-md-7 .queries p{
  font-size: 0.9rem;
  font-weight: 600;
  color: #000121;
}

.section-3 .horizon .col-md-7 .queries a{
  font-size: 1.1rem;
}

/* .section-3 .horizon .row .mentors{
  border-right: 1.5px solid #949494;
} */

.section-3 .horizon{
  border-bottom: 1.5px solid #949494;
}

.section-3 .horizon .mentors h4{
  font-size: 1.5rem;
}

.section-3 .horizon .mentors span{
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  top: 7px;
}

.section-3 .explore-btn{
  position: relative; 
  margin-top: 1.5rem;
  top: 1.5rem;
  margin-bottom: 1rem;
}

.section-3 .horizon-sub-heading b{
  color: #000000;
}

.queries p{
  margin-bottom: 0;
}

.queries a{
  position: relative;
  /* bottom: 10px; */
}

.horizon .row .mentors h4{
  text-align: center;
}

.mentors-outer-div{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 576px){
  .section-3 .horizon h2{
    font-size: 25px;
    margin-top: 35px;
  }
  .section-3 .horizon .horizon-sub-heading{
    font-size: 15px;
    text-align: justify;
  }

  .horizon .row p{
    padding-left: 0;
  }
  .horizon .queries{
    text-align: center;
  }
  .mentors-outer-div{
    margin-top: 0;
  }
  .section-3 .horizon .mentors span{
    font-size: 28px;
    top: 4px;
  }
  .section-3 .horizon .mentors h4{
    font-size: 21px;
  }
  .queries-outer-div{
    bottom: 15px;
  }
  .section-3 .text-left .button{
    text-align: center;
  }
  .btn-1{
    font-size: 14px;
    padding: 8px 15px;
  }
}


/* How we work section */
section.work{
  padding: 3rem 8rem 6rem;
  text-align: center;
}

section.work h1{
  font-weight: 700;
}

section.work p.sub-heading{
  margin-top: 1.5rem;
  width: 70%;
  color: #5e5e5e;
}

section.work .contents{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
  grid-gap: 2.5rem;
}

section.work .contents .steps{
  position: relative;
}

section.work .contents .steps:not(.last)::after{
  content: url('../images/arrow.png');
  position: absolute;
  display: inline-block;
  top: -30px;
  right: -85px;
}

section.work .contents .steps img{
  width: 80%;
  margin-bottom: 1rem;
}

section.work .contents h5{
  font-weight: 700;
}

section.work .contents p{
  color:#5e5e5e;
}

@media (max-width: 576px){
  section.work h1{
    font-size: 25px;
  }
  section.work p.sub-heading{
    font-size: 15px;
    width: 90vw;
    text-align: justify;
  }
  section.work{
    padding: 3rem 20px 6rem;
  }
  section.work .contents .steps:not(.last)::after{
    display: none;
  }
  section.work .contents .steps img{
    max-width: 165px;
  }
  /* section.work .contents{
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    grid-gap: 1.3rem;
  } */
  section.work .contents h5{
    font-size: 18px;
  }
  section.work .contents p{
    font-size: 14px;
    text-align: justify;
  }
}

/* Expert section */
section.expert{
    background-image: linear-gradient(to right, #f22222, #f3461c, #f35e19, #f37319, #f2851e);
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    padding: 5rem auto!important;
    margin-bottom: 5rem;
}

section.expert h1{
    font-weight: 700;
    font-size: 2.8rem;
}

section.expert p.line{
    position: relative;
    display: inline-block;
}

section.expert p.line::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 35px;
    width: 2px;
    height: 60px;
    background-image: linear-gradient(to top, #e23b1c, #de0045, #ca0067, #a80b83, #782c96);
}

section.expert .about{
    background-color: #fff;
    position: relative;
    text-align: center;
    bottom: 25px;
    color: #757575;
    width: 90%;
    left: 12px;
    padding: 1rem 0 0.3rem;
}

section.expert .about h4{
    color: #000000;
    font-weight: 700;
    margin-bottom: 0;
}

@media (max-width: 576px){
  section.expert{
    padding: 1rem 0;
  }
  .home-section .row h2 br{
    display: none;
  }
  section.expert .text{
    font-size: 13px;
  }
  section.expert h1{
    font-size: 26px;
  }
  section.expert p.line::before{
    display: none;
  }
}


/* Contact us section */
section.contact-us{
  width: 97vw;
  margin-top: 6rem;
  margin-bottom: 8rem;
}

section.contact-us .left{
  background-image: linear-gradient(to right, #fa2424, #fb471f, #fc601c, #fc751c, #fb8721);
    padding: 2.5rem 0;
    color: #fdecbe;
}

section.contact-us .left h1, section.contact-us .left p{
    width: 78%;
}

section.contact-us .left h1{
    font-weight: 700;
    color: #fff;
    font-size: 2.2rem;
    padding-bottom: 15px;
}

section.contact-us .right{
    background-color: #040641;
    color: #fff;
}

section.contact-us .right .outer{
    margin: 12% 0;
    
}

section.contact-us .right img{
    filter: drop-shadow(0 0 10px #fff);
    width:50px; 
    position: relative; 
    top: 15px;
    margin-bottom: 15px;
}

section.contact-us .button{
  position: relative;
  top: 10px;
}

/* section.contact-us .right .call{
    display: flex;
    flex-direction: column;
} */

section.contact-us .right p, section.contact-us .right h5{
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0;
    /* display: inline-block; */
}

.orange-bg{
    background-image: linear-gradient(to right, #f12721, #f3471c, #f45f19, #f57319, #f5851e);
    color: #fdecbe!important;
    border-radius: 5px;
    padding: 10px 20px;
}

@media (max-width: 576px){
  section.contact-us .left{
    padding-left: 25px;
    padding-right: 25px;
  }
  section.contact-us .left h1{
    font-size: 25px;
    width: 100%;
  }
  section.contact-us .left p{
    width: 100%;
    font-size: 15px;
  }
  .contact-us img{
    position: relative;
    left: 30px;
    width: 60px;
    height: 50px;
  }
  .contact-us .btn{
    border-radius: 5.5px;
    margin-top: 25px;
  }
}

/* Virtues and Protocols */

p.virtues-sub-heading{
  font-size: 1rem;
  color: #5e5e5e;
  font-weight: 500;
}

.virtues i:hover{
  cursor: pointer;
}

#virtues-tab-1 .fa{
  color: red;
}

#virtues-tab-2 .fa{
  color: white;
}

#virtues-tab-3 .fa{
  color: white;
}

#virtues-tab-1-content{
  display: block;
}

#virtues-tab-2-content{
  display: none;
}

#virtues-tab-3-content{
  display: none;
}

/* Home Blog Section */
.blog-slider {
   width: 95%;
   position: relative;
   max-width: 800px;
   margin: auto;
   background: #fff;
   box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
   padding: 25px;
   border-radius: 25px;
   height: 400px;
   transition: all 0.3s;
}
 @media screen and (max-width: 992px) {
   .blog-slider {
     max-width: 680px;
     height: 400px;
  }
}
 @media screen and (max-width: 768px) {
   .blog-slider {
     min-height: 500px;
     height: auto;
     margin: 180px auto;
  }
}
 @media screen and (max-height: 500px) and (min-width: 992px) {
   .blog-slider {
     height: 350px;
  }
}
 .blog-slider__item {
   display: flex;
   align-items: center;
}
 @media screen and (max-width: 768px) {
   .blog-slider__item {
     flex-direction: column;
  }
}
 .blog-slider__item.swiper-slide-active .blog-slider__img img {
   opacity: 1;
   transition-delay: 0.3s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > * {
   opacity: 1;
   transform: none;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
   transition-delay: 0.3s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
   transition-delay: 0.4s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
   transition-delay: 0.5s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
   transition-delay: 0.6s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
   transition-delay: 0.7s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
   transition-delay: 0.8s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
   transition-delay: 0.9s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
   transition-delay: 1s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
   transition-delay: 1.1s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
   transition-delay: 1.2s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
   transition-delay: 1.3s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
   transition-delay: 1.4s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
   transition-delay: 1.5s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
   transition-delay: 1.6s;
}
 .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
   transition-delay: 1.7s;
}
 .blog-slider__img {
   width: 300px;
   flex-shrink: 0;
   height: 300px;
   background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
   box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
   border-radius: 20px;
   transform: translateX(-80px);
   overflow: hidden;
}
 .blog-slider__img:after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 20px;
   opacity: 0.8;
}
 .blog-slider__img img {
   width: 100%;
   height: 100%;
   /* object-fit: cover; */
   object-position: center;
   object-position: cover;
   display: block;
   opacity: 0;
   border-radius: 20px;
   transition: all 0.3s;
}
 @media screen and (max-width: 768px) {
   .blog-slider__img {
     transform: translateY(-50%);
     /* width: 90%; */
     /* width: 100%; */
     width: 90px;
  }
}
 @media screen and (max-width: 576px) {
   .blog-slider__img {
     width: 95%;
  }
}
 @media screen and (max-height: 500px) and (min-width: 992px) {
   .blog-slider__img {
     height: 270px;
  }
}
 .blog-slider__content {
   padding-right: 25px;
}
 @media screen and (max-width: 768px) {
   .blog-slider__content {
     margin-top: -80px;
     text-align: center;
     padding: 0 30px;
  }
}
 @media screen and (max-width: 576px) {
   .blog-slider__content {
     padding: 0;
  }
}
 .blog-slider__content > * {
   opacity: 0;
   transform: translateY(25px);
   transition: all 0.4s;
}
 .blog-slider__code {
   color: #7b7992;
   margin-bottom: 15px;
   display: block;
   font-weight: 500;
}
 .blog-slider__title {
   font-size: 22px;
   font-weight: 700;
   color: #0d053d;
   font-weight: bold;
   margin-bottom: 20px;
}
 .blog-slider__text {
   color: #4e4a67;
   margin-bottom: 30px;
   line-height: 1.5em;
}
 .blog-slider__button {
   display: inline-flex;
   background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
   padding: 15px 35px;
   border-radius: 50px;
   color: #fff;
   box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
   text-decoration: none;
   font-weight: 500;
   justify-content: center;
   text-align: center;
   letter-spacing: 1px;
}
 @media screen and (max-width: 576px) {
   .blog-slider__button {
     width: 100%;
  }
}
 .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
   bottom: 10px;
   left: 0;
   width: 100%;
}
 .blog-slider__pagination {
   position: absolute;
   z-index: 21;
   right: 20px;
   width: 11px !important;
   text-align: center;
   left: auto !important;
   top: 50%;
   bottom: auto !important;
   transform: translateY(-50%);
}
 @media screen and (max-width: 768px) {
   .blog-slider__pagination {
     transform: translateX(-50%);
     left: 50% !important;
     top: 205px;
     width: 100% !important;
     display: flex;
     justify-content: center;
     align-items: center;
  }
}
 .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
   margin: 8px 0;
}
 @media screen and (max-width: 768px) {
   .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
     margin: 0 5px;
  }
}
 .blog-slider__pagination .swiper-pagination-bullet {
   width: 11px;
   height: 11px;
   display: block;
   border-radius: 10px;
   background: #062744;
   opacity: 0.2;
   transition: all 0.3s;
}
 .blog-slider__pagination .swiper-pagination-bullet-active {
   opacity: 1;
   background: #fd3838;
   height: 30px;
   box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
/*  */
.date{
  display: flex;
  /* padding-left: 20px; */
}
 @media screen and (max-width: 768px) {
   .blog-slider__pagination .swiper-pagination-bullet-active {
     height: 11px;
     width: 30px;
  }
}

/* Associations with partners section */
section.startups {
  margin-top: -40px;
}

section.startups .wrapper{
  padding:0;
}

section.startups h5{
    font-weight: 700;
    text-align: center;
    font-size: 1.4rem;
}

section.startups h5 span, section.contact-us .right p{
    background: -webkit-linear-gradient(#fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


img{
    width: 100%;
}

@media (max-width: 576px){
  section.startups h5{
    font-size: 19px;
  }
}


/* tabs and tabs content section */

#downloads p{
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 4px;
}

#downloads .nav-item{
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 3rem;
}
section div.wrapper{
    width: 95%;
    margin: 3rem auto;
    padding: 2.5rem 1.5rem;
}

.section-4 #tab-1-content,
.section-4 #tab-2-content,
.section-4 #tab-3-content,
.section-4 #tab-4-content{
	display: none;
	opacity: 0;
}

.show {
	display: block !important;
	opacity: 1 !important;
	transition: all 1000 ease-in;
}

.section-4 .current-tab{
  position: relative;
  /* background-image: url('./images/line-triangle.png'); */
}

.section-4 .current-tab::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(0deg,#fa2424, #fb8721);

  /* background-image: url('./images/line-triangle.png'); */
}

.section-4 .current-tab::after{
  content: "";
  position: absolute;
  right: 50%;
  top: 31px;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 0;
  border-top: 20px solid #fa2424;
}

/* .section-4 .no-before:before{
  content:none;
}

.section-4 .no-after:after{
  content:none;
} */

.section-4 .tab-content-item .tabs-content-heading{
  color: #03003f;
  font-weight: 700;
}

.section-4 .tab-content-item .tabs-content-subheading{
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 500;
  color: #5e5e5e;
}

.section-4 .tab-content-item .row .list p {
  color: #03003f;
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 576px){
  section.section-4{
    padding-left: 15px;
    padding-right: 15px;
  }
  #downloads{
    padding-left: 0;
    padding-right: 0;
  }
  #downloads .nav{
    position: relative;
    top: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
  #downloads p{
    font-size: 17px;
  }
  #downloads .nav-item{
    margin-bottom: 15px;
    margin-right: 20px;
  }
  .section-4 .current-tab::after{
    display: none;
  }
  section.section-4 .tabs-content-heading{
    font-size: 24px;
  }
  .section-4 .tab-content-item .tabs-content-subheading, .section-4 .tab-content-item .row .list p{
    font-size: 15px;
  }
}

/* Subscribe */
.subscribe{
  position: relative;
  margin-bottom: -5rem;
  background: -webkit-linear-gradient(0deg,#fa2424, #fb8721);
  border-radius: 15px;
  color: #fff;
}

#subscribe h2{
  font-weight: 700;
}

.form{
  background: #ffffff;
  padding: 5px 5px;
  border-radius: 10px;
  
}

.form input{
  border-radius: 5px;
  border-style: none;
  color: rgb(29, 29, 29);
  background-color: white;
  padding:9px 2.5rem;
  outline: none;
}

.btn-3 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: 3s;
}

.btn-3:hover {
  background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}

@media (max-width: 576px){
  .form input{
    padding: 9px 1rem;
  }
}


/* Footer section */
footer{
  display: relative;
  background-color: #000121;
  /* height: 80vh; */
}

.footer-container{
  padding-top: 9rem !important;
  padding: 1rem 4% ;
}

.footer-end-container{
  padding: 1rem 6% ;
}
footer .row h6{
  font-size: 1.5rem;
  font-weight: 700;
}

#hr-line{
  width: 60px; 
  background:var(--color-orange); 
  height: 1.5px;
}

footer .contact-us p i{
  background: var(--color-orange);
  font-weight: 700;
}

footer .contact-us p div i{
  background: var(--color-orange);
  font-weight: 700;
}

.footer-end{
  background: -webkit-linear-gradient(0deg,#fa2424, #fb8721);
}

.social {
  padding-right: 5px;
}

.social a {
  height: 37px;
  width: 37px;
  background: #fa2424;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 15px;
  margin-top: 20px;
  transition: 1s;
}

.social a:hover {
  background: #fff;
  color:#fa2424;
}
